
body {
  margin: 0;
}

/* Disable boxes around images*/
a img{
  border: 0px;
}

.nowrap {
  Display :inline-block;
}

::selection {
  background-color: #6ab344;
  color: white;
}


.drivy-fab {
  position: absolute;
  right: 20%;
  bottom: -26px;
  z-index: 3;
  background: #64ffda !important;
  color: black !important;
}

.drivy-mobile-title {
  display: none !important;
}


.drivy-logo-image {
  height: 28px;
  width: 140px;
}


.drivy-header {
  overflow: visible;
  background-color: white;
}

  .drivy-header .material-icons {
    color: #767777 !important;
  }


  .drivy-header .mdl-navigation__link {
    color: #757575;
    font-weight: 700;
    font-size: 14px;
  }

  .drivy-navigation-container {

    direction: rtl;
    -webkit-order: 1;
        -ms-flex-order: 1;
            order: 1;
    width: 500px;
    transition: opacity 0.2s cubic-bezier(0.4, 0, 0.2, 1),
        width 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  }

  .drivy-navigation {
    /* to make sure the content is actually LTR */
    direction: ltr;
    -webkit-justify-content: flex-end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    width: 800px;
  }

  .drivy-search-box.is-focused + .drivy-navigation-container {
    opacity: 0;
    width: 100px;
  }


  .drivy-navigation .mdl-navigation__link {
    display: inline-block;
    height: 60px;
    line-height: 68px;
    background-color: transparent !important;
    border-bottom: 4px solid transparent;
  }

    .drivy-navigation .mdl-navigation__link:hover {
      border-bottom: 4px solid #8bc34a;
    }

  .drivy-search-box {
    -webkit-order: 2;
        -ms-flex-order: 2;
            order: 2;
    margin-left: 16px;
    margin-right: 16px;
  }

  .drivy-more-button {
    -webkit-order: 3;
        -ms-flex-order: 3;
            order: 3;
  }


.drivy-drawer {
  border-right: none;
}

  .drivy-drawer-separator {
    height: 1px;
    background-color: #dcdcdc;
    margin: 8px 0;
  }

  .drivy-drawer .mdl-navigation__link.mdl-navigation__link {
    font-size: 14px;
    color: #757575;
  }

  .drivy-drawer span.mdl-navigation__link.mdl-navigation__link {
    color: #8bc34a;
  }

  .drivy-drawer .mdl-layout-title {
    position: relative;
    background: #6ab344;
    height: 160px;
  }

    .drivy-drawer .drivy-logo-image {
      position: absolute;
      bottom: 16px;
    }

.drivy-be-together-section {
  position: relative;
  height: 600px;
  width: auto;
  background-color: #f3f3f3;
  background: url('images/slide01.jpg') center 30% no-repeat;
  background-size: cover;
}

.logo-font {
  font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
  line-height: 1;
  color: #767777;
  font-weight: 500;
}

.drivy-slogan {
  font-size: 60px;
  padding-top: 160px;
}

.drivy-sub-slogan {
  font-size: 21px;
  padding-top: 24px;
}

.drivy-create-character {
  font-size: 21px;
  padding-top: 400px;
}

  .drivy-create-character a {
    text-decoration: none;
    color: #767777;
    font-weight: 300;
  }

.drivy-screen-section {
  position: relative;
  padding-top: 60px;
  padding-bottom: 80px;
}

.drivy-screens {
  text-align: right;
  width: 100%;
  white-space: nowrap;
  overflow-x: auto;
}

.drivy-screen {
  text-align: center;
}

.drivy-screen .drivy-link {
  margin-top: 16px;
  display: block;
  z-index: 2;
}

.drivy-image-link {
  text-decoration: none;
}

.drivy-wear {
  display: inline-block;
  width: 160px;
  margin-right: 32px;
}

  .drivy-wear .drivy-screen-image {
    width: 40%;
    z-index: 1;
  }


.drivy-auto {
  display: inline-block;
  width: 300px;
  overflow: hidden;
}



.drivy-wear-section {
  position: relative;
  background: url('images/wear.png') center top no-repeat;
  background-size: cover;
  height: 600px;
}

.drivy-wear-band {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  background-color: #37474f;
}

.drivy-wear-band-text {
  max-width: 800px;
  margin-left: 25%;
  padding: 24px;
  text-align: left;
  color: white;
}

  .drivy-wear-band-text p {
    padding-top: 8px;
  }

.drivy-link {
  text-decoration: none;
  color: #8bc34a !important;
}

  .drivy-link:hover {
    color: #7cb342 !important;
  }

  .drivy-link .material-icons {
    position: relative;
    top: -1px;
    vertical-align: middle;
  }

.drivy-alt-link {
  text-decoration: none;
  color: #64ffda !important;
  font-size: 16px;
}

  .drivy-alt-link:hover {
    color: #00bfa5 !important;
  }

  .drivy-alt-link .material-icons {
    position: relative;
    top: 6px;
  }

.drivy-customized-section {
  text-align: center;
}

.drivy-customized-section-text {
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
  padding: 80px 16px 0 16px;
}

  .drivy-customized-section-text p {
    padding-top: 16px;
  }

.drivy-customized-section-image {
  background: url('images/cars.jpg') center top no-repeat;
  background-size: cover;
  height: 400px;
}

.drivy-more-section {
  padding: 80px 0;
  max-width: 1044px;
  margin-left: auto;
  margin-right: auto;
}

  .drivy-more-section .drivy-section-title {
    margin-left: 12px;
    padding-bottom: 24px;
  }

.drivy-card-container {
}

  .drivy-card-container .mdl-card__media {
    overflow: hidden;
    background: transparent;
  }

    .drivy-card-container .mdl-card__media img {
      width: 100%;
    }

  .drivy-card-container .mdl-card__title {
    background: transparent;
    height: auto;
  }

  .drivy-card-container .mdl-card__title-text {
    color: black;
    height: auto;
  }

  .drivy-card-container .mdl-card__supporting-text {
    height: auto;
    color: black;
    padding-bottom: 56px;
  }

  .drivy-card-container .mdl-card__actions {
    position: absolute;
    bottom: 0;
  }

  .drivy-card-container .mdl-card__actions a {
    border-top: none;
    font-size: 16px;
  }


.drivy-footer {
  background-color: #fafafa;
  position: relative;
}
  .drivy-footer a:hover {
    color: #0f213c;
  }

  .drivy-footer .mdl-mega-footer--bottom-section a {
    position:relative;
    margin-right: 2em;
  }

.drivy-link-menu:hover {
  cursor: pointer;
}

